---
import LegacyShellLayout from '../../layouts/LegacyShellLayout.astro';

const title = 'Academic record and transcripts';
---

<LegacyShellLayout title={title}>
  <td class="content-cell" colspan="2">
    <h2>Academic record and transcripts</h2>

    <h3>Master's degree transcript / grades</h3>
    <p>
      You may also
      <a href="/img/diploma.pdf">download the complete diploma (PDF)</a>, or compare my results
      with the
      <a href="/img/compare.jpg" target="_blank" rel="noreferrer">TU Dresden 1998 GPA Averages</a>.
    </p>
    <img
      class="transcript-image"
      src="/img/tu-diploma.jpg"
      width="600"
      height="850"
      alt="Masters Degree Diploma TU Dresden"
    />

    <h3>U.S. exchange year transcript / grades</h3>
    <img
      class="transcript-image"
      src="/img/bu-transcript.gif"
      width="600"
      height="850"
      alt="Certificate Boston University"
    />
  </td>
</LegacyShellLayout>

<style>
  .content-cell {
    vertical-align: top;
    padding-left: 8px;
  }

  h2 {
    margin: 0.83em 0;
    font-size: 1.5em;
  }

  h3 {
    margin: 1em 0;
    font-size: 1.17em;
  }

  p {
    margin: 1em 0;
  }

  .transcript-image {
    display: block;
    margin: 0 0 2em;
    max-width: 100%;
    width: 600px;
    height: auto;
    border: 0;
  }
</style>
